 
packages:
  yum:
    gcc-c++: []  
    rubygems: []  
    ruby-devel: []
    openssl-devel: []
  rubygems:
    eventmachine: []
    remote_syslog: []
 
files:
  "/etc/remote_applog.yml":
    mode: "00644"
    owner: root
    group: root
    encoding: plain
    content: |
      files: [/var/log/aide/aide.log, /var/log/messages, /var/log/monit, /usr/local/PRODUCT/logs/*.log, /var/log/httpd/elasticbeanstalk-access_log, /var/log/tomcat7/catalina.out]
      destination:
        host: logs.papertrailapp.com
        port: <PUT YOUR PORT HERE>
 
  "/tmp/update-remote-log-hostname.sh":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/bin/bash
      logger_config="/etc/remote_applog.yml"
      appname=`{ "Ref" : "AWSEBEnvironmentName" }`
      instid=`wget -q -O - http://169.254.169.254/latest/meta-data/instance-id`
      myhostname=${appname}_${instid}
      if [ -f $logger_config ]; then
        # remove the current host entry
        sed -i "/hostname*/d" $logger_config
 
        # add the proper one
        sed -i "1i\
        hostname: $myhostname" $logger_config
      fi

  "/etc/init.d/remote_applog":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/bin/bash
      #
      # remote_syslog This shell script takes care of starting and stopping
      #               remote_syslog daemon
      #
      # chkconfig: - 58 74
      # description: papertrail/remote_syslog \
      #              https://github.com/papertrail/remote_syslog/blob/master/examples/remote_syslog.init.d
      
      ### BEGIN INIT INFO
      # Provides: remote_applog
      # Required-Start: $network $local_fs $remote_fs
      # Required-Stop: $network $local_fs $remote_fs
      # Should-Start: $syslog $named ntpdate
      # Should-Stop: $syslog $named
      # Short-Description: start and stop remote_errolog
      # Description: papertrail/remote_syslog
      #              https://github.com/papertrail/remote_syslog/blob/master/examples/remote_syslog.init.d
      ### END INIT INFO
      
      # Source function library.
      . /etc/init.d/functions
      
      # Source networking configuration.
      . /etc/sysconfig/network
      
      if [ -f /usr/bin/remote_syslog ]; then
        prog="/usr/bin/remote_syslog"
      else
        prog="/opt/elasticbeanstalk/bin/remote_syslog"
      fi
      
      config="/etc/remote_applog.yml"
      pid_dir="/var/run"
      
      EXTRAOPTIONS=""
      
      pid_file="$pid_dir/remote_applog.pid"
      
      PATH=/sbin:/bin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
      
      RETVAL=0
      
      is_running(){
        [ -e $pid_file ]
      }
      
      start(){
          echo -n $"Starting $prog: "
          unset HOME MAIL USER USERNAME
          $prog -c $config --tls --pid-file $pid_file "$EXTRAOPTIONS"
          RETVAL=$?
          echo
          return $RETVAL
      }
      
      stop(){
          echo -n $"Stopping $prog: "
          if (is_running); then
            kill `cat $pid_file`
            RETVAL=$?
            echo
            return $RETVAL
          else
            echo "$pid_file not found"
          fi
      }
      
      status(){
          echo -n $"Checking for $pid_file: "
      
          if (is_running); then
            echo "found"
          else
            echo "not found"
          fi
      }
      
      reload(){
          restart
      }
      
      restart(){
          stop
          start
      }
      
      condrestart(){
          is_running && restart
          return 0
      }
      
      
      # See how we were called.
      case "$1" in
          start)
        start
        ;;
          stop)
        stop
        ;;
          status)
        status
        ;;
          restart)
        restart
        ;;
          reload)
        reload
        ;;
          condrestart)
        condrestart
        ;;
          *)
        echo $"Usage: $0 {start|stop|status|restart|condrestart|reload}"
        RETVAL=1
      esac
      
      exit $RETVAL

  "/tmp/papertrail-watchdog":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/bin/bash
      netstat |grep papertrail > /dev/null 2>&1
      STATUS=$?

      if [ $STATUS == 1 ]; then
          echo Papertrail may be hung up...restarting
          /usr/bin/logger Papertrail may be hung up...restarting
          /sbin/service remote_applog restart
      else
          echo Papertrail looks to be running ok
          /usr/bin/logger Papertrail looks to be running ok
      fi

commands:
  01_update_config_file:
    command: ". /tmp/update-remote-log-hostname.sh"

  02_enable_service:
    command: "/sbin/chkconfig remote_applog on"
 
  03_start_service:
    command: "/sbin/service remote_applog restart"
    ignoreErrors: true
    
  04_add_cron_task:
    command: "mv -f /tmp/papertrail-watchdog /etc/cron.hourly/papertrail-watchdog"
      
