container_commands:
  01_add_tags:
    command: ec2-create-tags $(ec2-metadata -i | cut -d ' ' -f2) --region $(ec2-metadata -z | grep -Po "(us|sa|eu|ap)-(north|south)?(east|west)?-[0-9]+") --tag ACME:product=MYPRODUCT --tag ACME:component=cloud-server-tier
    env:
      EC2_HOME: /opt/aws/apitools/ec2
      JAVA_HOME: /usr/lib/jvm/jre
      PATH: /bin:/usr/bin:/opt/aws/bin/
