files: 
   "/usr/local/PRODUCT-tools/nbt-cloudwatch.py":
     mode: "00555"
     owner: root
     group: root
     encoding: plain
     content: |
       #!/usr/bin/python2.6
       
       import os
       import boto
       import boto.ec2.cloudwatch
       import boto.utils
       import datetime
       
       processname = 'mydaemon'
       timestamp = ''
       
       instance_id = boto.utils.get_instance_metadata()['instance-id']
       region = boto.utils.get_instance_metadata()['placement']['availability-zone'][0:-1]
       
       connection = boto.ec2.cloudwatch.connect_to_region(region)
       
       str_metricname = 'MYMETRIC'
       str_namespace = 'ACME/Instances'
       str_unit = 'Count'
       MYMETRIC = 0
       
       for line in os.popen("ps xa"):
          fields = line.split()
          pid = fields[0]
          process = fields[4]
          if process.find(processname) > 0:
             MYMETRIC += 1
       
       connection.put_metric_data(str_namespace, str_metricname, MYMETRIC, timestamp, str_unit, {'InstanceID': instance_id})

container_commands:
  01_install_cloudwatch_metrics_task:
    command: |
      echo '* * * * * root /usr/local/PRODUCT-tools/nbt-cloudwatch.py' > /etc/cron.d/nbt_cloudwatch; chmod 0644 /etc/cron.d/nbt_cloudwatch
       
